<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seller Profile</title>
    <style>
        /* Добавьте свои стили здесь */
    </style>
</head>
<body>
<h2>Seller Profile</h2>
<p th:text="'Имя: ' + ${seller.firstName}"></p>
<p th:text="'Фамилия: ' + ${seller.lastName}"></p>
<p th:text="'Регион: ' + ${seller.region.getDisplayName()}"></p>
<p th:text="'Email: ' + ${seller.email}"></p>
<!-- Добавьте другие поля профиля, которые хотите отобразить -->
</body>
</html>
