<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Territorial Manager Profile</title>
    <style>
        /* Добавьте свои стили здесь */
    </style>
</head>
<body>
<h2>Territorial Manager Profile</h2>
<p th:text="'Имя: ' + ${territorialManager.firstName}"></p>
<p th:text="'Фамилия: ' + ${territorialManager.lastName}"></p>
<p th:text="'Регион: ' + ${territorialManager.region.getDisplayName()}"></p>
<p th:text="'Email: ' + ${territorialManager.email}"></p>
<!-- Добавьте другие поля профиля, которые хотите отобразить -->
</body>
</html>
