<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Regional Director</title>
</head>
<body>
<h2>Изменить Данные Регионального Директора</h2>
<form th:action="@{/regionalDirectors/edit/{id}(id=${regionalDirector.id})}" th:object="${regionalDirector}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Имя: <input type="text" th:field="*{firstName}"/></label><br/>
    <label>Фамилия: <input type="text" th:field="*{lastName}"/></label><br/>
    <label>Отчество: <input type="text" th:field="*{middleName}"/></label><br/>
    <label>Login: <input type="text" th:field="*{login}"/></label><br/>
    <label>Password: <input type="password" th:field="*{password}"/></label><br/>
    <label>Email: <input type="email" th:field="*{email}"/></label><br/>
    <label>Телефон: <input type="text" th:field="*{phone}"/></label><br/>
    <label>Регион:
        <select th:field="*{region}">
            <option value="REGION1">Северный регион</option>
            <option value="REGION2">Южный регион</option>
            <option value="REGION3">Центральный регион</option>
            <option value="REGION4">Западный регион</option>
            <option value="REGION5">Восточный регион</option>
            <!-- Добавьте другие варианты регионов -->
        </select>
    </label><br/>
    <label>Должность:
        <select th:field="*{role}">
            <option value="ADMIN">Администратор</option>
            <option value="SELLER">Продавец</option>
            <option value="REGIONAL_DIRECTOR">Региональный директор</option>
            <option value="TERRITORIAL_MANAGER">Территориальный менеджер</option>
            <!-- Добавьте другие варианты регионов -->
        </select>
    </label><br/>
    <label>Дата рождения: <input type="date" th:field="*{birthDate}" /></label><br/>

    <!-- Добавляем выпадающий список для выбора территориального менеджера -->
    <label>Территориальный менеджер:
        <select th:field="*{territorialManagers}">
            <option value="">Выберите территориального менеджера</option>
            <!-- Используйте список territorialManagers, который принадлежит объекту RegionalDirector -->
            <option th:each="manager : ${regionalDirector.territorialManagers}" th:value="${manager.id}" th:text="${manager.firstName + ' ' + manager.lastName}"></option>
        </select>
    </label><br/>


    <button type="submit">Сохранить</button>
</form>
<a href="/regionalDirectors/list">Вернуться к списку</a>
</body>
</html>
